.form-group-date {
  position: relative;
  padding-left: 25px;
  margin-bottom: 0;
}

.form-group::before {
  content: "";
  position: absolute;
  top: 0;
  right: -22px;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.form-group-date .form-control {
  border: none;
  height: 80px;
}

.form-group-date i {
  position: absolute;
  top: 31px;
  left: 21px;
}

.form-group-date-span {
  position: absolute;
  top: 32px;
  right: 0;
  font-weight: 600;
}

.btn-pagination {
  /* margin-x: 8px; */
  margin-right: 16px;
  padding: 16px 32px;
  background: #713888;
  border-radius: 12px;
  color: #fff;
}

.btn-pagination:hover {
  background: #171616;
  color: #fff;
}

.row-results:after {
  content: "";
  display: table;
  clear: both;
}

.column-results {
  float: left;
  width: 50%;
  height: 100%;
  min-height: 500px;
}

.column-results:first-child {
  background-image: linear-gradient(to right, #251b4d, #713888);
  height: auto;
  display: flex;
  align-items: center;
}

/* .gradient-bg {
  background-image: linear-gradient(to right, #251b4d, #713888);
  min-height: 500px;
  height: auto;
} */

.show-date {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #171616;
  color: #ffffff;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 20px;
}

@media screen and (max-width: 1100px) {
  .column-results {
    width: 100%;
    min-height: 400px;
  }

  .show-date {
    left: auto;
    right: 10px;
    top: 10px;
    font-size: 15px;
  }
  /* .show-date {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #171616;
    color: #ffffff;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 20px;
    margin-top: 10px;
  } */
}
